<!DOCTYPE html>
<html ng-app="Movie">

<head>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="/javascripts/apiService.js"></script>
    <link rel="icon" type="image/*" href="../images/video-play.png">
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" style="background-color: coral;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="../images/video-play.png" width="25px" height="25px" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="title-word"><a href="/" style="color:white; font: 25px bold;">David Cinema<span class="sr-only">(current)</span></a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register" style="color:white; font: 20px bold  ; "> <i class="fa fa-user-plus"
                                    aria-hidden="true"></i>
                                Register</a></li>
                        <li><a href="/login" style="color:white; font: 20px bold;"><span class="glyphicon glyphicon-log-in"></span>
                                Login</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section>
        <div class="container" ng-controller="fupController">
            <div class="col-md-6 col-md-offset-3" style="border: 1px solid coral; border-radius: 10px;">
                <h1 style="text-align: center; color: coral; font-family: Georgia, 'Times New Roman', Times, serif">Create
                    Movie</h1>
                <form name="createForm" ng-validate="validationOptions" class="md-form ng-pristine ng-isolate-scope ng-invalid ng-invalid-required"
                    novalidate="novalidate" enctype="multipart/form-data">
                    <div id="movie-form" class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label for="name" style="color: coral">Movie's Name</label>
                            <input name="name" ng-model="name" type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                                id="name" placeholder="Movie's Name" required="" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect2" style="color: coral">Genre:</label>
                            <select ng-model="genre" name="genre" class="required form-control ng-pristine ng-valid ng-not-empty valid ng-touched"
                                id="genre" aria-required="true" id="exampleSelect2" aria-invalid="false">
                                <option label="Action" value="Action" selected="selected">Action</option>
                                <option label="Horror" value="Horror">Horror</option>
                                <option label="Romantic" value="Romantic">Romantic</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date" style="color: coral">Release Date</label>
                            <input type="text" class="form-control valid" id="datepicker" aria-invalid="false" ng-model="date">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea" style="color: coral">Description</label>
                            <textarea name="content" ng-model="content" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                id="exampleTextarea" placeholder="Write about movie's content, actor, actress, author,..."
                                rows="5"></textarea>
                        </div>
                        <div class="input-group">
                                <span class="input-group-btn">
                                  <span class="btn btn-file">
                                    Poster's Film
                                    <input data-url="/upload" accept="image/png, image/jpeg" name="file" type="file" id="files" ng-files="createController($files)">
                                  </span>
                                </span>
                                <input style="border: 1px solid white " readonly="readonly" placeholder="Picture file" class="form-control" id="filename" type="text">
                                <img id="image" />
                              </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <button type="submit" ng-click="uploadFiles()" class="btn align-right" id="register-button">Create</button>
                            <button type="reset" class="btn" style="background-color: #9F1C00" id="cancel-button" id="register1">Cancel</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<script src="/javascripts/Movie/createMovies.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#datepicker").datepicker().datepicker("setDate", new Date());
    });
</script>
<script>
    document.getElementById("files").onchange = function () {
    var reader = new FileReader();
        var fileName = document.getElementById("filename");
    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
        fileName.style.display = "none";
    };
    
    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
    
};


</script>
</html>