<!DOCTYPE html>
<html ng-app="Movie">

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <title>
        <%= title %>
    </title>

    <link rel="icon" type="image/*" href="/video-play.png">
</head>

<body ng-controller="detailController">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" >
            <p id="id" style="display: none"><%= id  %></p>
            <div class="container-fluid" style="background-color: coral;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/images/video-play.png" width="25px" height="25px" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="title-word"><a href="/" style="color:white; font: 25px bold;">David Cinema<span class="sr-only">(current)</span></a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout" style="color:white; font: 20px bold;"><span class="glyphicon glyphicon-log-in"></span>
                                Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section style="margin-top: 75px; max-width: 98%; padding-left: 2%">
    <div class="row panel panel-success" style="margin-top:2%;">
        <div class="panel-heading lead">
            <div class="row">
                <div class="col-lg-8 col-md-8"><i class="fa fa-users"></i> View Movie Details</div>
                <div class="col-lg-4 col-md-4 text-right">
                    <div class="btn-group text-center">
                        <a href="student-view.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-eye fa-1x"></i></a>
                        <a href="student-modify.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-edit fa-1x"></i></a>
                        <a href="student-print.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-print fa-1x"></i></a>
                        <a href="student-delete.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-trash fa-1x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">                                     
                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <center>
                                    <span class="text-left">
                                    <img style=" object-fit: scale-down;max-height: 300px" src="../{{detailMovie.image}}" class="img-responsive img-thumbnail">
                                <div class="table-responsive panel">
                                    <table class="table">
                                        <tbody>
                                                    <tr>
                                                    <td class="text-center">
                                                        <span class="btn btn-danger text-success btn-block"><i class="fa fa-rupee"></i> Unpaid</span>
                                                        <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#PhotoOption"><i class="fa fa-photo"></i> Change</a>
                                                    </td>
                                                </tr>
                                                                                    
                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Summery" class="text-success"><i class="fa fa-indent"></i> Summery</a></li>	
                                </ul>

                                <div class="tab-content">
                                    <div id="Summery" class="tab-pane fade in active">

                                        <div class="table-responsive panel">
                                            <table class="table">
                                                <tbody>

                                                        <tr>
                                                            <td class="text-success"><i class="fa fa-user"></i> Movie Name</td>
                                                            <td>{{detailMovie.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-success"><i class="fa fa-list-ol"></i> Genre</td>
                                                            <td>{{detailMovie.genre}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-success"><i class="fas fa-calendar-check"></i> Date</td>
                                                            <td>{{detailMovie.date | date:
                                                                'dd/MM/yyyy'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-success"><i class="fa fa-book"></i> Content</td>
                                                            <td>{{detailMovie.content}}</td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            <!-- /.table-responsive -->
            
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="/javascripts/apiService.js"></script>
    <script src="/javascripts/Movie/detailMovie.js"></script>
</html>