<% if(email.email) { %>
<!DOCTYPE html>
<html ng-app="Movie">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/*" href="/images/video-play.png">
</head>

<body ng-controller="profileController">
    <input type="hidden" id="token" value="<%= token %>" />
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" style="background-color: coral;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="../images/video-play.png" width="25px" height="25px" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="title-word"><a href="/" style="color:white; font: 25px bold;">David Cinema <span class="sr-only">(current)</span></a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%  if(email.email) {%>
                        <li><a href="/profile/" style="color:white; font: 20px bold  ; "><%= email.email %></a></li>
                        <li><a href="#" style="color:white; font: 20px bold  ; " id="logout" data-toggle="modal" data-target=".bs-example-modal-sm1"> <i class="fas fa-sign-out-alt"></i>
                            Logout</a></li>
                        <% } %>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section style="margin-top: 50px; width: 82%; padding-left: 2%"  class ="col-md-7 col-md-offset-1">
        <div class="row panel panel-warning "  style="margin-top:2%;">
            <div class="panel-heading lead " >
                <div class="row">
                    <div class="col-lg-8 col-md-8"><i class="fas fa-user"></i> My Profile</div>
                    <div class="col-lg-4 col-md-4 text-right">
                        <div class="btn-group text-center">
                            <a onclick="showFormEdit()" style="background-color: coral!important" class="btn btn-sm "><i style="color: white" class="fa fa-edit fa-1x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" >
                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <center>
                                    <span class="text-left">
                                        <img ng-src="{{userProfile.image}}" id="image" style="min-width: 200px; min-width: 200px; width: 200px; object-fit: scale-down;height:200px;max-height: 200px; min-height: 200px"
                                            class="img-responsive img-thumbnail">
                                        <div class="table-responsive panel">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="input-group" >
                                                                <span class="input-group-btn">
                                                                    <span id="change-button" class="btn btn-file">
                                                                        Change Avatar
                                                                        <input ng-model="userProfile.image" accept="image/png, image/jpeg" name="file"
                                                                            type="file" id="files">
                                                                    </span>
                                                                </span>

                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </span>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Summery" class="text-success"><i
                                                class="fa fa-indent"></i> Summery</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="Summery" class="tab-pane fade in active" >
                                        <div class="table-responsive panel">
                                            <table class="table" >
                                                <tbody >
                                                    <tr>
                                                        <td class="text-success"><i class="fas fa-envelope-square"></i>
                                                            Email</td>
                                                        <td style="font-weight: bold">
                                                            {{userProfile.email}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-success"><i class="fa fa-user"></i> Name</td>
                                                        <td class="label-userprofile">{{userProfile.name}}</td>
                                                        <td class="input-userprofile"><input ng-model="userProfile.name" type="text" ng-value="userProfile.name" class="form-control" placeholder="Name" ></td>
                                                    </tr>   
                                                    <tr>
                                                        <td class="text-success"><i class="fas fa-calendar-check"></i> Birthday</td>
                                                        <td class="label-userprofile">{{userProfile.birthday}}</td>
                                                        <td class="input-userprofile"><input ng-model="userProfile.birthday" ng-value="userProfile.birthday" type="text" class="form-control" placeholder="Birthday" >   </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-success"><i class="fa fa-book"></i> Description</td>
                                                        <td class="label-userprofile">{{userProfile.description}}</td>
                                                        <td class="input-userprofile"><textarea ng-model="userProfile.description" ng-value="userProfile.description" type="text" class="form-control" placeholder="Description" ></textarea></td>
                                                    </tr>
                                                    
                                                </tbody>
                                                <tfoot>
                                               
                                                    <td><button type="button" id="btnCancel" onclick="calcelFormEdit()" class="btn">Cancel</button></td>
                                                    <td><button type="button" id="btnEdit" data-toggle="modal" data-target=".bs-example-modal-sm" style="background-color: coral; color: white" class="btn">Update</button></td>
                                               
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->

            </div>
        </div>
    </section>
    <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header" style="color:indianred"><h4>Notice <i class="fas fa-exclamation"></i></h4></div>
                <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to update ?</div>
                <div class="modal-footer" ng-click="update()"><a style="color: black; font-weight: bold"class="btn btn-block">Update</a></div>
              </div>
            </div>
          </div>
          <div class="modal bs-example-modal-sm1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header" style="color:indianred"><h4 style="font-weight: bold">Alert <i class="fas fa-exclamation"></i></h4></div>
                    <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to Sign-out ?</div>
                    <div class="modal-footer"><a href="/logout" style="color: black; font-weight: bold"class="btn btn-block">Ok</a></div>
                  </div>
                </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/javascripts/apiService.js"></script>
<script src="/javascripts/User/profile.js"></script>
<script>
    document.getElementById("files").onchange = function () {
        var reader = new FileReader();
        var fileName = document.getElementById("filename");
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);

    };

    function showFormEdit() {
        var x = document.getElementsByClassName("label-userprofile");
        var y = document.getElementsByClassName("input-userprofile");
        var btnEdit = document.getElementById("btnEdit");
        var btnCancel = document.getElementById("btnCancel");
        var changeButton = document.getElementById("change-button");

        for(i=0; i < x.length; i++) {
            x[i].style.display = "none";
            y[i].style.display = "block";
        }
        btnEdit.style.display = "block";
        btnCancel.style.display = "block";
        changeButton.style.display = "block";
    }

    function calcelFormEdit() {
        var x = document.getElementsByClassName("label-userprofile");
        var y = document.getElementsByClassName("input-userprofile");
        var btnEdit = document.getElementById("btnEdit");
        var btnCancel = document.getElementById("btnCancel");
        var changeButton = document.getElementById("change-button");

        for(i=0; i < x.length; i++) {
            x[i].style.display = "block";
            y[i].style.display = "none";
        }
        btnEdit.style.display = "none";
        btnCancel.style.display = "none";
        changeButton.style.display = "none";
    }
</script>

</html>
<% } %> 
<% if(!email.email) { %> 
    <script>
        window.location.href = "/login"  
    </script>
<% } %>