<footer id="myFooter" style="background-color:coral; color: white; padding: 50px; clear: both; bottom: 0">
    <div class="container">
        <div class="row">
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="/"> David Cinema</a>
          </div>
        </div>
    </div>
  </footer>